@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Sorts+Mill+Goudy:ital@1&display=swap');
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Bad Script', cursive;
    font-family: 'Sorts Mill Goudy', serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);;

}
.sign_up {
    width: 600px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.3);
    border-radius: 30px;
    backdrop-filter: blur(20px);
    text-align: center;

}
.sign_up h1{
    text-decoration: underline;
}
.bt {
    width: 60px;
    height: 30px;
    background: transparent;
    margin-bottom: 20px ;
}
.sign_up .input_box {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 30px 0;

}
.input_box input {
    width: 80%;
    height: 100%;
    background: white;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 16px;
    color: black;
    padding: 10px 45px 10px 10px ;
    box-shadow: 0 0 10px;
    font-weight: bold;;
}


.input_box i {
    position: relative;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.sign_up .remember_forget {
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember_forget lable input {
    accent-color: #fff;

    

}
.remember_forget a:hover {
    text-decoration: underline;
}
.sign_up .bt {
    width: 20%;
    height: 45px;
    
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 70px;
    border-radius: 40px;
    box-shadow: 0 0 10px 
}